<div class="jumbotron">
  <div class="text-center">
    <h1>Welcome to ClimbMates</h1>
    <ul class="nav">
      <li><a href="#">Login</a></li>
      <li>or</li>
      <li><a href="#">Signup</a></li>
    </ul>
  </div>
</div>
